<div class="page-header">
  <h1>Order Item #<%= @order_item.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Order</dt>
  <dd><%= @order_item.order_id %></dd>

  <dt>Item</dt>
  <dd><%= @order_item.item_id %></dd>

</dl>
